.header {
  z-index: 100;
  position: fixed;
  top: 32px;
  left: 32px;
  width: 96px;
  height: calc(100vh - 64px);
  background-color: #161d2f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
  overflow: hidden;

  .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .logo {
    img {
      width: 32px;
      height: 26px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 0;

      li {
        width: 100%;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 12px;
          background-color: transparent;
          transition: background-color 0.3s, transform 0.2s ease-in-out;

          img {
            width: 20px;
            height: 20px;

            &:hover {
              filter: invert(22%) sepia(100%) saturate(5000%) hue-rotate(350deg)
                brightness(90%) contrast(100%);
              transform: scale(1.1);
            }
          }

          &.active-link {
            img {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }
  }

  .profile {
    margin-top: auto;

    img {
      border-radius: 50%;
      border: 2px solid #fff;
      width: 40px;
      height: 40px;
    }
  }
}
