<header class="header">
  <div class="top-section">
    <a class="logo" routerLink="/home"
      ><img src="assets/logo.svg" alt="Logo"
    /></a>
    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
            title="Home"
          >
            <img src="assets/icon-nav-home.svg" alt="Home" />
          </a>
        </li>
        <li>
          <a
            routerLink="/movies"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
            title="Movies"
          >
            <img src="assets/icon-nav-movies.svg" alt="Movies" />
          </a>
        </li>
        <li>
          <a
            routerLink="/tv-series"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
            title="TV Series"
          >
            <img src="assets/icon-nav-tv-series.svg" alt="TV Series" />
          </a>
        </li>
        <li>
          <a
            routerLink="/bookmarked"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
            title="Bookmarked Shows"
          >
            <img src="assets/icon-nav-bookmark.svg" alt="Bookmark" />
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="profile">
    <a href="#"><img src="assets/image-avatar.png" alt="Foto de Perfil" /></a>
  </div>
</header>
