<header class="header">
    <a class="logo" href="#"><img src="assets/logo.svg" alt="Logo"></a>

  <nav class="nav">
    <ul class="nav-list">
      <li><a href="#"><img src="assets/icon-nav-home.svg" alt="Home"></a></li>
      <li><a href="#"><img src="assets/icon-nav-movies.svg" alt=" Movies"></a></li>
      <li><a href="#"><img src="assets/icon-nav-tv-series.svg" alt=" Series"></a></li>
      <li><a href="#"><img src="assets/icon-nav-bookmark.svg" alt="Bookmark"></a></li>
    </ul>
  </nav>
  <div class="profile">
    <a href="#"><img src="assets/image-avatar.png" alt="Foto de Perfil"></a>
  </div>
</header>
