.search-container {
  position: fixed;
  top: 0;
  left: 11%;
  width: 85%;
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  padding: 15px 20px;
  margin-left: -50px;
}

.search-container input {
  flex-grow: 1;
  background: transparent;
  font-weight: 100;
  border: none;
  color: #ffffff7c;
  font-size: 24px;
  padding: 8px 10px;
  outline: none;
  text-align: left;
  caret-color: red;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out, font-size 0.2s ease;
}

.search-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-container input:focus {
  border-bottom: 1px solid #5a698f;
  font-size: 22px;
}

.search-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
}

.search-container button:hover {
  transform: scale(1.1);
}

.search-container button img {
  width: 28px;
  height: 28px;
}
