.trending {
  width: 450px;
  margin: 200px 165px;
  font-family: "Outfit", sans-serif;
  width: 120vw;
  position: relative;
  overflow: hidden;
  h2 {
    position: fixed;
    top: 120px;

    padding: 10px;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
  }

  .carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 10px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      flex: 0 0 auto;
      scroll-snap-align: start;
      width: 470px;
      height: 230px;
      border-radius: 8px;
      position: relative;
      right: 0;

      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      &__content {
        padding: 22px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(to bottom, #00000000, #000000b9);
        border-radius: 8px;

        .card__details {
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: 15px;
          font-weight: 300;
          opacity: 0.75;
          color: #fff;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            align-items: center;
          }

          .card__category img {
            margin-right: 6px;
          }
        }
        .card__title {
          font-size: 24px;
          margin: 8px 0 0;
          font-weight: 400;
          color: #fff;
        }
      }

      &__favorite {
        position: absolute;
        top: 15px;
        right: 20px;

        width: 32px;
        height: 32px;
        background: #10141e;
        border: none;
        font-size: 24px;
        cursor: pointer;
        border-radius: 50%;
        opacity: 50%;

        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
        img {
          margin: 0 auto;
        }
      }
    }
  }
}
