<app-search-bar
  (search)="onSearch($event)"
  placeholderText="Search for movies or TV series"
></app-search-bar>

<ng-container *ngIf="!showSearchResults">
  <app-trending></app-trending>

  <section class="recommended-section">
    <h2>Recommended for you</h2>
    <div class="recommended-grid">
      <app-thumbnail
        *ngFor="let media of recommendedShows$ | async"
        [media]="media"
        (bookmarkToggled)="onToggleBookmark($event)"
      >
      </app-thumbnail>
    </div>
    <p *ngIf="(recommendedShows$ | async)?.length === 0">
      No recommended shows available.
    </p>
  </section>
</ng-container>

<ng-container *ngIf="showSearchResults">
  <section class="search-results-section">
    <h2>
      Found {{ (searchResults$ | async)?.length }} results for '{{
        searchQuery
      }}'
    </h2>
    <div class="search-results-grid">
      <app-thumbnail
        *ngFor="let media of searchResults$ | async"
        [media]="media"
        (bookmarkToggled)="onToggleBookmark($event)"
      >
      </app-thumbnail>
    </div>
    <p *ngIf="(searchResults$ | async)?.length === 0 && searchQuery.length > 0">
      No results found for '{{ searchQuery }}'.
    </p>
  </section>
</ng-container>
